html, body {
  height: 100%;
}

body {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  background: rgb(2,0,36);
background: linear-gradient(56deg, rgba(2,0,36,1) 0%, rgba(96,4,164,1) 68%, rgba(86,4,116,1) 100%);
  color: #fff;

}